@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

:root {
  --default-red: #ef476f;
  --default-green: #06d6a0;
  --default-green-with-overlay: #048060;
  --default-yellow: #ffd166;
  --default-blue: #118ab2;
  --default-dark-green: #073b4c;
  --light-gray: #b4b4b4;
  --default-text-color: #495057;
  --signin-background-color: #fafafa;
  --white: #fff;
}

h1 {
  color: #000;
}
h2 {
  color: var(--default-text-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: Signika !important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0;
}

form {
  width: 100%;
  height: auto;
  padding: 40px;
}

form h2 {
  margin: 10px 0px;
}

input,
textarea {
  outline: none;
  appearance: none;
  width: 98.4%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--white);
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

input:hover,
textarea:hover {
  border-color: var(--default-green);
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 30px 0 30px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--default-green);
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(
    --default-green-with-overlay
  ); /* Alterado para branco */
}

.backButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  gap: 10px;
  padding: 10px 30px 10px 15px;
  background-color: rgba(6, 214, 160, 0.8);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.backButton:hover {
  background-color: var(--default-green-with-overlay);
}
