.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.leftContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f1f1f1;

  @media (max-width: 1024px) {
    display: none;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: left;
  overflow-y: scroll;
  scrollbar-color: #6c757d #ffffff;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  padding: 20px 0;
}

.rightContent h1,
h2 {
  margin-right: auto;
}

.icon path {
  fill: #fff;
}
