:root {
  --default-red: #ef476f;
  --default-green: #06d6a0;
  --default-yellow: #ffd166;
  --default-blue: #118ab2;
  --default-dark-green: #073b4c;
  --light-gray: #b4b4b4;
  --default-text-color: #495057;
  --signin-background-color: #fafafa;
  --white: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100wh;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.backButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  gap: 10px;
  padding: 10px 30px 10px 15px;
  background-color: rgba(6, 214, 160, 0.8);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.leftContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f1f1f1;

  @media (max-width: 1024px) {
    display: none;
  }
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #6c757d #ffffff;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  padding: 20px 0;
}

form {
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 97.5%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 30px 0 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--default-green);
  font-weight: 600;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #fff; /* Alterado para branco */
}

.icon path {
  fill: #fff;
}
